
body{
    text-align: center;
    font-family: 'Almendra', serif;
    background-image: url(images/dis.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.highscorecontainer{
   display: block;
    background:  white;
    border: 18px dotted #9A4CD0;
  
}
.quizContainer{
    width:65%;
    height:auto;
    background:  white;
    border: 18px dotted #9A4CD0;
    margin-left: 18%;
}
h1 {
   
    font-family: 'Almendra', serif;
    font-weight: bold !important;
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color:rgba(218, 8, 190, 0.2);
}


p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: rgb(12, 185, 207);
}

/* Nav Bar */
header{
    height: 100px;
    mar

}

#highcont {
  margin-bottom: -261px;
  width: 200px;
  height: 200px;
}
 #score {
     display: block;
     width: 300px;
    color:rgb(252, 249, 255); 
   background-color: rgb(161, 15, 161);
    font-size: 20px;
    font-weight: bold;
  
}
#timercont{
    padding-top: 104px;
    width: 200px;
    height: 200px;
    float: right;
    background-image: url(images/mikey.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}

 #timer {
    
   padding-bottom: 80px;
    color:rgb(120, 225, 233);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 63px;
 }

/* Coding Quiz Challenge Page */

.quizChallengePage {
    align-items: center !important;
    text-align: center !important; 
}

#quizQuestionHeader {
    font-size: 35px;
    font-weight: bolder; 
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px; 
    color: rgb(12, 185, 207);
}

/* Quiz Question Page */
li {
    
    list-style-type: none;
    padding-left: -10%;
    padding-right: 30%;
    font-size: 35px;
    margin-left: 30px;
    font-family: 'Almendra', serif;
    
   }

.questions {
    width: 300px;
    text-align: center !important;
    background-color: pink;
    border-color: #8064A2 !important;
    color: rgb(36, 7, 59) !important;
    font-size: 20px !important;
    padding: 0px 12px 0px 12px !important;
    margin: 5px;
    margin-left: 165px;
}
button {
    border-radius: 0;
    background-image: url(images/colors.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
}
 #answerResponse {
     font-style: 'Almendra', serif;
     color: rgb(47, 231, 102);
     font-size: 20px;
     padding-left: 40%;  
 }

 /* High Score Page */

 #finalScoreIs {
    padding-left: 15% !important;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

#highScores {
    text-align: center;
    padding-top: 150px;
    font-weight: bolder;
    color: rgb(12, 185, 207);
    font-size: 60px;
    margin-left: 1%;
    font-family: 'Almendra', serif;
    text-decoration: underline;
    text-decoration-color:rgba(218, 8, 190, 0.2);
}

#highScoreButtons {
    padding-left: 15%; 
}



/* All Done Initial Page */

.row {
    align-items: center !important;
    text-align: center !important; 
    padding-left: 15% !important;
}

#allDone {
    font-weight: bolder;
    padding-top: 100px;
    padding-left: 25% !important;
    color: purple;
    margin-top: -93px;
    margin-bottom: 8px;
    font-size: 80px;
}

/* High Score Page */

#highScoreList {
    font-family: 'Almendra', serif;
    padding-right: 30%;
    font-size: 20px;
    margin-left: 30px;
    color: pink;
     padding-top: 112px; 
    font-size: 40px;
}
.typeofanswer{
    font-size: 58px;
    /* text-align: center; */
    color: rgb(211, 9, 127);
    padding-left: 200px;
    margin-top: 20px;
    font-family: 'Almendra', serif;
}

#initialButton{
    display: inline-block;
    font-weight: 400;
    background: violet;
    height: 41px;
    width: 100px;
    color: white;
    
    text-align: center;
}
#highScoreButtons {
    margin-top: 404px;
    padding-left: 15%;
    width: 500px;
}
.containerHig{
    margin-left: 30%;
    width: 500px;
    background-color: white;
    margin-bottom: 100px;
    border: 18px dotted #9A4CD0;

}

#goBack{
    width: 100px;
    text-align: center !important;
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
    color: rgb(36, 7, 59) !important;
    font-size: 26px !important;
    margin-left: -98%;
    margin-bottom: 18px;
    width: 150px;
   
}
#submitButton{
    text-align: center !important;
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
    color: rgb(36, 7, 59) !important;
    font-size: 26px !important;
}
#initialButton{
    width: 200px;
    text-align: center !important;
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
    color: rgb(36, 7, 59) !important;
    font-size: 26px !important;
}
#clearHighScore{
    
    text-align: center !important;
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
    color: rgb(36, 7, 59) !important;
    font-size: 26px !important;
    margin-left: 25%;
    margin-bottom: 18px;
    width: 250px;
} 
#clearHighScore:hover {
    width: 230px;
    text-align: center !important;
    background-color: #ba94e7  !important;
    border-color: #ba94e7 !important;
    color:rgb(36, 7, 59)!important;
    font-size: 22px !important;
}
#goBack:hover {
    text-align: center !important;
    background-color: #ba94e7  !important;
    border-color: #ba94e7 !important;
    color:rgb(36, 7, 59)!important;
    font-size: 22px !important;
}
.form-inline{
    margin-bottom: 20px;
}

@media only screen and (max-width: 425px ){
    h1{
   
        font-family: 'Almendra', serif;
        font-size: 15px;
    } 
    
   p{
    font-size: 12px;
    }

#score {
    font-size: 13px;
    width: 229px;

}
 .typeofanswer{
    margin-left: -59px;
    font-size: 29px;
 }

/* Coding Quiz Challenge Page */


  #quizQuestionHeader {
    font-size: 16px;
  }

/* Quiz Question Page */

.questions {
    width: 193px;
    font-size: 14px !important;
    margin: 7px;
    margin-left: -43%;
}
#initialButton {
    background: violet;
    height: 33px;
    width: 97px;
    margin-left: -11%;
    margin-top: 5%;
}
.containerHig {
    margin-left: 16%;
    width: 300px;
    
}
#highScores{
    font-size: 46px;
}
li{
    font-family: 'Almendra', serif;
    padding-right: 30%;
font-size: 20px;
margin-left: 30px;
color: pink;
}
}


 
@media only screen and (max-width: 375px ){
    .questions {
        width: 180px;
        font-size: 13px !important;
        margin-left: -68%;
    }
    .typeofanswer{
        font-size: 26px;
        margin-left: -78px;
        margin-top: 17px;
    }
    #initialInput{
        width: 85%;

    }
    #initialButton {
        background: violet;
        height: 33px;
        width: 97px;
        margin-left: -11%;
        margin-top: 5%;
    }
    #allDone{
        font-size: 51px;
    }
    .containerHig {
        margin-left: 15%;
        width: 250px;
    }
    #highScores{
        padding-top: 133px;
        font-size: 28px;
        margin-left: -5%;
    }
    #goBack{
        margin-left: 5%;
        width: 120px;
        margin-bottom: 10px;
    }
    #clearHighScore {
        margin-left: -17%;
        width: 200px;
        margin-bottom: 5px;
    }
    li{
        font-family: 'Almendra', serif;
        padding-right: 30%;
    font-size: 20px;
    margin-left: 30px;
    color: pink;
    }
}
@media only screen and (max-width: 320px ){
    .questions {
        width: 164px;
        font-size: 13px !important;
        margin-left: -106%;
    }
    .typeofanswer {
        padding-left: 34px;
    }
    #allDone{
        font-size: 47px;
    }
    #initialButton {
        background: violet;
        height: 33px;
        width: 97px;
        margin-left: -11%;
        margin-top: 5%;
    }
    #highScores {
        padding-top: 133px;
        margin-left: 10%;
    }
}
